:root {
    --primary-color: #e2e2e2;
    --secondary-color: #b2b2b2;
    --tertiary-color: white;
    --fourth-color: #f0f0f0;
    --fonty-font-family: 'Open Sans',sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',sans-serif;
}
body {
    font-family: 'Open Sans',sans-serif;
}

/* HEADER & NAV STYLE */
header {
    display:flex;
    justify-content: space-between;
    height: 75px;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 9999;
    background-color: var(--tertiary-color);
}
header h1 {
    margin: 15px 15px 15px 30px;
    background: var(--secondary-color);
    color: var(--tertiary-color);
    border-radius: 50%;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;

}
header nav {
margin: 7px 0;

}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: flex-start;
    padding: 15px 30px 15px 15px
}
header nav ul li a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 30px;
    color: var(--secondary-color);
}
header nav ul li a:hover {
    font-weight: bolder;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/* HERO STYLE */
main div.flex-row{
    display: flex;
    /* justify-content: center; */
    margin-left: 10%;
}
.flex-row h2 {
    color: var(--secondary-color);
    font-size: 64px;
    /* text-align: center; */
    font-weight: normal;
    margin-top: 100px;
}

/* PRROJECT STYLE*/
.projects {
    width: 80%;
    margin: 150px auto 0 auto;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-height: 600px;
}
.projects a {
    text-decoration: none;
    color: black;
}
.bigBox {
    display: flex;
    background-color: var(--primary-color);
    height: 100%;
    flex: 2 1 0;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
} 
.bigBox .bigCopy {
    flex: 2 1 0;
    text-align: center;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}
.bigBox .bigImg {
    flex: 1 1 0;
    margin: 5%;
    display: flex;
    max-width: 50%;
}
.bigBox .bigImg img {
    max-width: 100%;
    max-height: 100%;
}
.bigBox h3 {
    margin-top: 15%;
}
.column {
    height: 100%;
    flex: 1.2 1 0;
    min-width: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: 5px;
}
.proj{
    width: 100%;
    margin-bottom: 5px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.projCopy {
    flex: 1 1 0;
    text-align: center;
    margin: 2%;
    display: flex;
    flex-direction: column;
}
.projImg {
    flex: 1 1 0;
    margin: 5%;
    display: flex;
}
.projImg img {
    max-width: 100%;
    max-height: 100%;
}
.column a:last-child{
    margin-bottom: 0;
}
.column div:last-child{
    margin-bottom: 0;
}

/* BIO style */
.bio {
    margin: 150px auto 0 auto;
}
.zach {
    margin: 0 auto 0 auto;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    font-size: 26px;
    color: var(--secondary-color);
    align-items: flex-start;
    flex-direction: column;
}
.zach .imgHolder {
    margin-top: 30px;
    max-width: 50%;
    max-height: 50%;
}
.zach img {
    max-width: 100%;
    height: auto;
}
.bioCopy h2 {
    font-family: var(--fonty-font-family);
    font-size: 64px;
    font-weight: normal;
    color: var(--secondary-color);
}
.bioCopy h3{
    margin-top: 30px;
}
.bioCopy span {
    font-style: italic;
}
.bioCopy p {
    margin-top: 25px;
}
.bioCopy {
    margin-right: 5%;
}

/* CONTACT STYLE */
.contact {
    background-color: var(--fourth-color);
    margin: 150px auto 0 auto;
}
.contactCopy {
    margin: 75px auto 0 auto;
    width: 60%;
    padding: 75px 0 75px 0;
}
.contactCopy h2 {
    font-size: 64px;
    font-family: var(--fonty-font-family);
    color: var(--secondary-color);
    font-weight: normal;
}
.contact p {
    font-size: 26px;
    font-family: var(--fonty-font-family);
    color: var(--secondary-color);
    margin-top: 25px;
}
.contactCopy a{
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bolder;
}
.contactCopy a:hover {
    color: black;
}


/* FOOTER STYLE */
footer {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.attribution {
    font-style: var(--fonty-font-family);
    color: var(--secondary-color);
}
.attribution a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bolder;
}
.attribution a:hover {
    color: black
}
footer p {
    font: var(--fonty-font-family);
    color: var(--secondary-color);
    margin-left: 5%;
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    header {
        height: 90px;
    }
    .projects {
        display: grid;
        margin-bottom: 1100px;
    }
    .bigBox {
        margin-bottom: 10px;
    } 
    .column a:last-child{
        margin-bottom: 5px;
    }
    .column div:last-child{
        margin-bottom: 5px;
    }
    .zach .imgHolder {
        margin-top: 30px;
        max-width: 100%;
        max-height: 100%;
    }
}
@media screen and (max-width: 710px) {
    .projects {
        display: grid;
        margin-bottom: 900px;
    }
}
@media screen and (max-width: 660px) {
    .projects {
        display: grid;
        margin-bottom: 800px;
    }
}
@media screen and (max-width: 600px) {
    .projects {
        display: grid;
        margin-bottom: 850px;
    }
}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    
    .projects {
        display: grid;
        margin-bottom: 700px;
    }
    header {
        height: 125px;
    }
    .bioCopy p {
        font-size: 18px;
    }
    .contactCopy p {
        font-size: 18px;
    }
    footer a {
        font-size: 10px;
    }
    footer p {
        font-size: 15px;
    }
    footer div {
        font-size: 10px;
    }
}
